div i {
  color: #f18639;
}

div i2 {
  color: #515153;
}

div i3 {
  color: #191272;
}

div .card-text {
  text-align: justify;
  padding-top: 100%;
}

div img {
  margin: 0 top;
}

body {
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
  background-repeat:no-repeat;
  background-size:1900px 1000px;
}

div .row {
  margin-top: 40px;
}