div i {
  color: #f18639;
}

div i2 {
  color: #515153;
}

div i3 {
  color: #191272;
}

div .card-text {
  text-align: justify;
  padding-top: 100%;
}

h2 {
  font-size: 60px;
}

h3 {
  text-align: center;
}

h6 {
  text-indent: 118px;
}